/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header {
        height: 600px;
}

.topheader {
    /* Debug */
    height: 80px;
    background-color: #255ee8;

}
/* FLEX ITEM */
.flexcontainer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.flexjumbotron {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: white;
    font-size: 20px;
    padding-bottom: 80px;
}

.flextext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.flexcontainerbottom {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* FINE FLEX ITEM */

.col {
    padding-top: 40px;
    width: 80%;
}

a {
    text-decoration: none;
    color: white;
}

.bottomheader {
     /* debug */
    background-image:url(../img/jumbo.png);
    height: 550px;
    background-size: cover;
}

ul.flexcontainer {
    align-items: center;
    justify-content: space-between;
}
li {
    list-style-type: none;   
    line-height: 30px;
}

.logo {
    width: 20%;
}
img {
    background-size: cover;
}

.link {
    width: 70%;
}
a.login {
    width: 20%;
    text-align: end;
}
.jumbotron {
    width: 50%;
    height: 90%;
}

.dwnmac{
  margin-right: 40px;
  padding: 6px 15px;
  border-radius: 30px;
  display: inline-block;
  color: black;

  background-color: white;
}

.openbrow {
    border-radius: 30px;
    display: inline-block;
    color: white;
    padding: 6px 15px;
    background-color: #23272a;
}
/* Fine Header */



/* Inizio Main */

.main {
    height: 900px;
}
/* Common INIZIO */
h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
}

h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 35px;
    color: #7288da;
    padding-bottom: 20px;
    line-height: 40px;
}

h5 {
    color: #7288da;
}
.text {
    padding-left: 40px;
}
img {
    background-size: cover;
}

.grey {
    background-color:#f6f6f6;
}
.white {
    background-color: white;
}

#purple {
    background-color:#7288da;
    color: white;
}
.green {
    background-color: green;
}


.btnsmall {
    border-radius: 30px;
    display: inline-block;
    color: black;
    padding: 6px 15px;
}
/* Common Color FINE */
.boxxone {
        width: 75%;
        display: flex;
        align-items: center;
}

.box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box2 {
    width: 40%;
    display: flex;
}

.righttext {
    font-size: 22px;
    padding: 30px;
}

.centertext {
    text-align: center;

}
.para {
    line-height: 30px;
}


.star {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;

}

.btnlarge {
    border-radius: 30px;
    word-spacing: 4px;
    color: white;
    padding: 6px 15px;
    background-color: #7288da;

}
/* Fine Main */

/* Inizio Footer */

footer {
    height: 500px;
    background-color: #23272a;
}

.topfooter {
    height: 84%;
  
}
 /* Footerbox 1  */
.footerbox1 {
    height: 100%;
}
.flag {
    height: 12px;
    width: 18px;
    background-size: contain;

}
.flagtext {
    font-size: 18px;
    color: white;
}

.social {
    padding: 10px 0px;
    color: white;
    font-size: 20px;
    letter-spacing: 10px;
}

.fixcol {
    display: flex;
    flex-direction: column;
}


/* FINE Footer box 1  */
/* INIZIO Footer Box 2  */
.footerbox2 {
    display: flex;
    width: 20%;
    height: 100%;
}

#footer {
    align-items: flex-end;
}

.purpleline {
    border-color: #7288da;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.bottombox {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottomlogo {
    width: 69%;
}